.input {
    font-size: 32px;
    border-radius: 40px;
    width: 100%;
    padding: 10px 20px;
    color: white;
    text-align: center;
    outline: 1px solid white;
    background-color: transparent;
}